server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://main-db:5432/ewm
    username: ewm
    password: ewm

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health

stats-server:
  url: http://stats-server:9090