server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://main-db:5432/ewm
    username: ewm
    password: ewm

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health

stats-server:
  url: http://stats-server:9090