spring:
  datasource:
    url: jdbc:postgresql://main-db:5432/ewm
    username: ewm
    password: ewm

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8080

stats-server:
  url: http://stats-server:9090